<div class="main-tl-panel">
  <div class="banner d-flex justify-content-start py-3 w-100">
    <%= link_to 'Tweets', '#', class: "banner-text padded-link"%>
    <%= link_to 'Photos', '#', class: "banner-text padded-link"%>
    <%= link_to 'Videos', '#', class: "banner-text padded-link"%>
  </div>
</div>