<div class="row">
  <%= render 'userpanel' %>
  <div class="col-10 main-panel">
    <div class="row">
      <%= render 'navbar' %>
      <div class="col-12">
        <div class="row">
          <div class="col-9 timeline-panel">
            <%= render 'timeline' %>
          </div>
          <div class="col-3 who-to">
            <%= render 'whoto' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
