<div class="row">
  <%= render 'layouts/userpanel' %>
  <div class="col-10 main-panel">
    <div class="row">
      <%= render 'layouts/navbar' %>
      <div class="col-12">
        <div class="row">
          <div class="col-9 timeline-panel">
            <%= render 'usertl' %>
          </div>
          <div class="col-3 right-panel-view">
            <%= render 'userpaneright' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>