<div class="row static-background">
    <div class="col-sm-11 col-lg-7 offset-lg-3 d-flex feature-content ">
        <div class="d-flex flex-column align-items-center">
            <p class="fancy display-4 mt-5">This feature will be available in future releases, we'll keep you updated.</p>

            <%= link_to  "Return", root_path, class: "btn btn-lg btn-light rounded w-25 mt-5" %>
        </div>
    </div>
</div>
