@import 'bootstrap/dist/css/bootstrap';

.alert {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.field_with_errors {
  input {
    border: 1px solid #d8000c;
  }

  .message {
    color: #d8000c;
    font-size: 80%;
    font-style: italic;
    text-transform: capitalize;
  }
}
